<launch>
  <!-- Use the saved occupancy map -->
  <node pkg="map_server"
        type="map_server"
        name="map_server"
        args="$(find robaddies_nav)/../../maps/surveillance_map.yaml"
        output="screen" />

  <!-- Run our A* navigator -->
  <node pkg="robaddies_nav"
        type="navigator.py"
        name="navigator"
        output="screen" />
</launch>
